*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/* INDEX */

.perfil{
    min-width: 550px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./Images/fondo.jpg);
    background-size: contain;
}
.foto img{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: solid 4px white;
}
.foto{
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto h1{
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    padding: 2rem;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    width: 40rem;
    height: 90%;
}
.info .icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6rem;
    height: 100%;
}
.icon :hover{
box-shadow: 15px 5px 10px #48529944;
    font-size: 1.5rem;
}
object{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* PERFIL */

.section{
    display: flex;
    flex-direction: row;
}
.links{
    width: 3rem;
    height: 3rem;
}
#link{
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
}
.icon a{
    margin-left: 9rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: #363B29;
    text-transform: uppercase;
}   
.menu a{
    margin-left: 1rem;
    text-decoration: none;
    color: #85ac19;
    font-size: 1.3rem;
}
.cuerpo{
    min-width: 550px;
    height: 100vh;
    text-transform: capitalize;
    background-image: url(./Images/fonfo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.detalle div{
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 15% 1fr;
    margin-top: 2rem;
}
.detalle h5{
    font-size: 1.1rem;
}
.detalle p{
    font-size: 1.1rem;
    margin-left: 1rem;
}
.mail a{
    text-decoration: none;
    color: #85ac19;
}
.titulo h1{
    color: #85ac19;
    text-decoration:underline;
    text-align: center;
}
.section img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 15%;
}
.imagenes{
    width: auto;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.imagenes img{
    width: 15rem;
    height: 10rem;
}
.experiencia{
    font-size: 1.1rem;
    margin-left: 1rem;
    padding-bottom: 3rem;
    text-decoration: underline;
}
.aptitudes{
    padding-bottom: 1rem;
    color: #85ac19;
}
.lista{
    font-size: 1.1rem;
    margin-left: 2rem;
}
.lista ul{
    list-style-type: circle;
}
.lista li{
    padding-bottom: 0.5rem;
}
.hobbies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}
.hobbies h5{
    font-size: 1.2rem;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 1rem;
}
.hobbies img{
    width: 25rem;
    height: 20rem;
}

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 740px) {
}

/* TABLET */
@media screen and (min-width:741px) and (max-width:930px){

}



/* ESCRITORIO */
@media screen and (min-width:931px){

}